@import url('https://fonts.cdnfonts.com/css/gilroy-bold');

* {
    margin: 0;
    padding: 0;
    width: 100%;
    outline: none;
    box-sizing: border-box;
    font-family: 'Gilroy-Bold', sans-serif;
    font-family: 'Gilroy-Heavy', sans-serif;
    font-family: 'Gilroy-Light', sans-serif;
    font-family: 'Gilroy-Medium', sans-serif;
    font-family: 'Gilroy-Regular', sans-serif;

    box-shadow: none;
}

.body {
    color: #f4f4f4;
    /* width: 100%
    height: 926px; */
}

.theScreen {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.image {
    height: 100vh;
    width: 50%;
    position: absolute;
    right: 0;
}

.navBar {
    display: flex;
    flex-direction: column;
    background-color: #333;
    /* padding: 20px; */
    width: 20%;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    position: -webkit-sticky;
    position: sticky;


}

.logoDiv {
    display: flex;
    width: auto;
    height: 56px;
    background-color: #fff;
    /* justify-content: center; */
    align-items: center;
    padding: 40px;
}

.logo {
    height: 48px;
    width: auto;

}

.dashboard,
.UserMgt {
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
}

.dashboardHeadText {
    display: flex;
    font-weight: 200;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    margin: 12px;
    width: auto;
}

.dashboardmenu h4 {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;

}

.dashboardmenu,
.active-tab {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 40px;
    align-items: center;
    padding: 10px;
    margin-bottom: 8px;
    justify-content: center;
}

.dashboardmenu:hover,
.active-tab:hover {
    color: #fff;
    background-color: #98A2B3;
}

/* .active-tab:hover {
    color: #fff;
    background-color: #98A2B3;
} */

.active-tab {
    border-left: solid 2px #5CC158;
}

/* .search {
    width: 360%;
    height: auto;
    border: 1px solid red;
} */

.icons,
.fa-solid {
    display: grid;
    place-content: center;
    width: 24px;
    height: 24px;
    color: #fff;
    /* background-color: #fff; */
    margin-right: 10px;
}

.bell {
    display: grid;
    place-content: center;
    width: 24px;
    height: 24px;
    color: #fff;
    /* background-color: #fff; */
    margin-right: 10px;
}

.buttn {
    display: grid;
    place-content: center;
    /* display: flex; */
    width: min-content;
    background-color: transparent;
    border: none;
    padding: 12px;

}

.fa-magnifying-glass {
    display: grid;
    place-content: center;
    width: 24px;
    height: 24px;
    color: #fff;
    /* background-color: #fff; */
    margin-right: 10px;
}

.searchBtn {
    display: grid;
    place-content: center;
    width: 24px;
    height: 24px;
    color: #fff;
    /* background-color: #fff; */
    margin-right: 10px;
}

.fa-circle-exclamation {
    display: grid;
    place-content: center;
    width: 24px;
    height: 24px;
    color: #FF3131;
    margin-right: 10px;
}

.fa-pen {
    display: grid;
    place-content: center;
    width: 24px;
    height: 24px;
    color: #333;
    margin-right: 10px;
}

.exclamation1 {
    display: grid;
    place-content: center;
    width: 24px;
    height: 24px;
    color: #FBB05F;
    ;
    margin-right: 10px;
}

.alertCard {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #e59494;
    width: auto;
    height: 56px;
    border-radius: 12px;
    margin-top: 24px;
    padding: 12px;
}

.alertCard2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #e7bd90;
    width: auto;
    height: 56px;
    border-radius: 12px;
    margin-top: 24px;
    padding: 12px;
}

.alertCard h4,
.alertCard2 h4 {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #333;
}

.search-icon {
    display: grid;
    place-content: center;
    width: 24px;
    height: 24px;
    color: #333;
    /* background-color: #fff; */
    margin-right: 10px;
}

.active {
    display: grid;
    place-content: center;
    width: 16px;
    height: 16px;
    color: #370099;
    margin-right: 10px;

}


.plus {
    display: grid;
    place-content: center;
    width: 24px;
    height: 24px;
    color: #fff;
}

.mainScreen {
    display: flex;
    flex-direction: column;
    width: 80%;
    position: absolute;
    right: 0;
    top: 0;
}

.theHeader {
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: space-between;
    background-color: #333;
    /* height: 56px; */
    padding: 20px;

}

.Adminn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.Adminn h1 {
    font-weight: 400;
    font-size: 16px;
    color: #5CC158;

}

.adminnSearchh {

    background-color: transparent;
    border: none;
    color: #fff;
}

.theHeaderText {
    font-weight: 400;
    font-size: 16px;
    color: #333;
    margin-right: 600px;
}

.userProfile {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* .userProfile h3 {
    font-weight: 400;
    font-size: 16px;
    margin: 4px;
} */

.userName {
    font-weight: 400;
    font-size: 14px;
    color: #fff;
    margin: 0px;
    width: auto;
}

.userInitals {
    display: grid;
    place-content: center;
    width: 32px;
    height: 32px;
    color: #98A2B3;
    font-weight: 400;
    font-size: 12px;
    background-color: #EAECF0;
    margin-right: 10px;
    border-radius: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
    padding: 10px;
    margin-top: 4px;

}

.buttons {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    align-items: center;
    padding: 10px;
    margin-top: 4px;
}

.primaryButton,
.submitButton {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    Width: 248px;
    Height: 40px;
    color: #fff;
    padding: 2px 4px 2px 4px;
    gap: 12px;
    border: none;
    border-radius: 8px;
    background-color: #370099;
    cursor: pointer;
    margin-right: 20px;
}

.secondaryButton,
.moreButton,
.cancelButton {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: max-content;
    Height: 40px;
    color: #333;
    padding: 2px 4px 2px 4px;
    gap: 12px;
    border: solid 1px #98A2B3;
    border-radius: 8px;
    background-color: transparent;
    cursor: pointer;
    margin-right: 10px;
}

.active {
    display: grid;
    place-content: center;
    width: 24px;
    height: 24px;
    color: #370099;
    margin-right: 10px;

}

.Administrator {
    display: flex;
    flex-direction: row;
    border-left: solid 2px #370099;
    height: fit-content;
    width: fit-content;
    padding: 8px;
    justify-content: center;
    background-color: #EAECF0;

}



/* .input {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    padding: 4px;
} */



.search {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    width: 360%;
    Height: 40px;
    color: #333;
    padding: 4px 16px 4px 16px;
    /* gap: 12px; */
    border: solid 1px #5CC158;
    border-radius: 8px;
    background-color: transparent;
    cursor: pointer;
    margin-right: 10px;
}

.adminsearch {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    width: 80%;
    Height: 40px;
    color: #333;
    padding: 4px 16px 4px 16px;
    /* gap: 12px; */
    border: solid 1px #5CC158;
    border-radius: 8px;
    background-color: transparent;
    cursor: pointer;
    margin-right: 10px;
}

.searchhh {
    background-color: transparent;
    border: none;
    color: #fff;

}

label {
    font-weight: 400;
    font-size: 16px;
    /* margin-bottom: 8px; */
    color: #333;
}


.mainDashboard {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: white;
    padding: 12px;
}

.filter {
    display: flex;
    flex-direction: column;
    width: 20vw;
    padding: 24px;
}

.timeline {
    display: flex;
    flex-direction: column;
    /* width: 20vw; */
    padding: 12px;
    border: 1px solid #333;
    border-radius: 12px;
}

.timeline h3 {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 8px;
    color: #333;
}

.timelineFilters {
    display: flex;
    flex-direction: column;
    margin-top: 12px;
}

.filterr {
    margin-bottom: 24px;
}

.input {
    display: flex;
    flex-direction: column;
    margin-bottom: 0px;

}

.datee {
    display: flex;
    border: 1px solid #333;
    margin-bottom: 12px;
    padding: 4px;
    border-radius: 4px;
}

.filter1 {
    display: flex;
    flex-direction: column;
    border-right: 2px solid #333;
    width: 200px;
    padding: 12px 12px 12px 0px;
}

.checkbox-container {
    display: flex;
    align-items: center;
}

/* Style for the checkbox input */
.checkbox-container input[type="checkbox"] {
    margin-right: 10px;
    /* Add some spacing between the checkbox and text */
}

table {
    /* font-family: arial, sans-serif; */
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 10px;
}

table tr {
    height: max-content;
    border-bottom: solid 1px #dbe0e7;
}

th {
    width: 80px;
    height: max-content;
    /* border: 1px solid #dddddd; */
    text-align: left;
    padding: 8px;
    font-weight: 600;
    font-size: 12px;
    color: #333;
    background-color: #F9FAFB;
}

td {
    width: 80px;
    height: 64px;
    /* border: 1px solid #dddddd; */
    text-align: left;
    padding: 8px;
    font-weight: 600;
    font-size: 12px;
    color: #333;
}

.rec {
    display: flex;
    padding: 10px;
    height: 8px;
    background-color: #370099;
}

.firstCard {
    display: flex;
    flex-direction: column;
    padding: 24px;
    width: auto;
    height: max-content;
    background-color: #dbe0e7;
    border-radius: 12px;
}

.firstCard h3 {
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 8px;
    color: #333;
}

.firstCard p {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 8px;
    color: #333;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 24px;
    margin-bottom: 24px;
}

.card {
    display: flex;
    flex-direction: column;
    width: 240px;
    height: max-content;
    background-color: #0B4C2C;
    padding: 24px;
    border-radius: 12px;
}

.card h3 {
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 8px;
    color: #fff;
}

.card p {
    font-weight: 400;
    font-size: 16px;
    color: #fff;
}

.twoCards,
.secondTwoCards,
.oppoCards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}


.LineGraph {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    width: 720px;
    height: 180px;
    border-radius: 12px;
    margin-top: 24px;
    padding: 12px;
    border: 1px solid #333;
}


.aboutTime {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    width: 340px;
    height: 180px;
    border-radius: 12px;
    margin-top: 24px;
    padding: 12px;
    border: 1px solid #333;

}

.requirements {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    width: auto;
    height: 120px;
    border-radius: 12px;
    margin-top: 24px;
    padding: 12px;
    border: 1px solid #333;

}

.LineGraph h4 {
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 8px;
    color: #333;
}

.theTable {
    display: flex;
    flex-direction: column;
    margin-top: 32px;
}

.filterButtons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
    /* display: flex;
    flex-direction: row; */
    width: 320px;
}

.filterbtn {
    width: 100px;
    height: 40px;
    background-color: transparent transparent;
    border: 1px solid #333;
    border-radius: 8px;

}

.Opportunities {
    display: flex;
    flex-direction: column;
    margin: 24px;
    padding: 24px;
    width: auto;

}

.OppoSearch {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    width: auto;
    Height: 40px;
    color: #333;
    padding: 4px 16px 4px 16px;
    /* gap: 12px; */
    border: solid 1px #5CC158;
    border-radius: 8px;
    background-color: transparent;
    cursor: pointer;
    margin: 24px 0px 24px 0px;
}

.oppoCard {
    display: flex;
    flex-direction: row;
    width: 400px;
    height: 400px;
    border: 1px solid #5CC158;
    border-radius: 12px;
    align-items: center;
    justify-content: center;
    padding: 24px;
}